{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'memorizer/css/styleNull.css' %}?{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'memorizer/css/memories.css' %}?{{ csrf_token }}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=cd60fb83-45e2-4ca5-94ec-aa37fdeac902&lang=ru_RU"
            type="text/javascript"></script>
    <title>Воспоминания</title>
</head>
<body>
<header>
    <div class="header__container">
        <div class="github-link"><a href="https://github.com/egorgur/Places_Remember_project"><img
                src="{% static 'memorizer/img/github.png' %}" alt=""></a></div>
        <div class="spacer"></div>
        <div class="user-name">{{ username }}</div>
        <div class="user-icon"><a href=""><img src="" alt="{{ username }} icon"></a></div>
    </div>
</header>

<main>
    {% if not has_memories %}
        <div class="no-memo">У вас ещё нет воспоминаний</div>
    {% else %}
        {% for memo in memories %}
            <div class="memo" onclick="redirectToMemo({{ memo.id }})">
                <div class="memo__info">
                    <div class="memo__info-name">{{ memo.name }}</div>
                    <div class="memo__info-comment">{{ memo.text }}</div>
                </div>
                <div class="memo__map" id="map_{{ memo.id }}"></div>
            </div>
        {% endfor %}
    {% endif %}
</main>

<div class="add-memo-button" onclick="createMemoRedirect()">Добавить воспоминание</div>

<script>
    const CSRF_TOKEN = '{{ csrf_token }}';
    const baseUrl = window.location.protocol + "//" + window.location.host;
    const memories = {{ memories|safe }};
</script>
<script src="{% static 'memorizer/js/fetch.js' %}?{{ csrf_token }}"></script>
<script src="{% static 'memorizer/js/memories.js' %}?{{ csrf_token }}"></script>
</body>
</html>