@import "colors";
@import "mixins";

* {
  scrollbar-width: thin;
  scrollbar-color: #acacac transparent;
}

.github-link {
  height: 40px;

  img {
    height: 40px;
    width: 40px;
  }
}

.spacer {
  flex-grow: 1;
}

.user {
  &-name {
    font-size: 16px;
  }

  &-icon {
    margin-left: 10px;
    border-radius: 100%;
    overflow: hidden;
  }
}

.add-memo-button {
  position: fixed;
  top: 94%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, 0%);
  color: $text;
  @include flex-row;
  @include flex-center;
  padding: 10px;
  font-size: 20px;
  background: #548af7;
  border-radius: 15px;

  transition: top $transition,
  color $transition;

  &:hover {
    color: white;
    cursor: pointer;
    top: 93.6%
  }
}

.leave-btn {
  @include flex-row;
  @include flex-center;
  margin-left: 14px;
  width: 60px;
  height: 35px;
  border: #a7110b 1px solid;
  transition: background-color $transition;

  &:hover {
    background-color: #a7110b;
    cursor: pointer;
  }
}

.no-memo {
  @include flex-row;
  @include flex-center;
  width: 400px;
  height: 200px;
  border-radius: 15px;
  //background: $green_dark_2;
  border: $grey 1px solid;
}

.memo {
  pointer-events: all;
  @include flex-row;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 360px;
  max-width: 1000px;
  overflow: hidden;
  //background: $green_3;
  //color:$white;
  border: $green_dark_2 1px solid;
  border-radius: 15px;

  &__info {
    flex-grow: 1;
    @include flex-column;

    align-items: center;

    &-name {
      @include flex-row;
      align-items: center;
      width: 100%;
      min-height: 50px;
      padding: 10px;
      border-bottom: $green_dark_2 1px solid;
    }

    &-comment {
      overflow-y: scroll;
      white-space: pre-wrap;
      @include flex-row;
      flex-grow: 1;
      width: 100%;
      padding: 10px;
    }
  }

  &__map {
    pointer-events: none;
    flex-shrink: 0;
    width: 360px;
    height: 360px;
    border-left: $green_dark_2 1px solid;
  }

  transition: background-color $transition;

  &:hover {
    cursor: pointer;
    background-color: $green_light_4_accent;
  }
}

body {
  position: relative;
  @include flex-column;
  background: $white;


  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    @include flex-row;
    @include flex-center;
    width: 100%;
    height: 60px;
    background: $white;
    border-bottom: $green_dark_2 1px solid;

    .header__container {
      width: 100%;
      max-width: 1120px;
      height: 100%;
      padding: 0 10px;
      @include flex-row;
      align-items: center;
    }
  }

  main {
    @include flex-column;
    @include flex-center;
    gap: 15px;
    margin-top: 80px;
    padding-bottom: 80px;
    flex-shrink: 0;
    flex-grow: 1;


  }
}

