@import "mixins";
@import "colors";

* {
  font-size: 1em;
}

::placeholder {
  text-align: left;
}

.map {
  width: 450px;
  height: 450px;
}

.btn {
  @include flex-row;
  @include flex-center;

  button {
    font-size: 18px;
    padding: 5px;
    background: $green_light_4_accent;
    transition: background-color $transition;

    &:hover {
      background-color: $green_light_4;
    }
  }
}

main {
  @include flex-column;
  @include flex-center;
  width: 100%;
  height: 100%;
  background: $white;
}

.input {
  @include flex-column;
  @include flex-center;
  width: 100%;

  input {
    width: 100%;
    height: 100%;
    background: none;
  }
}

.area-input {
  @include flex-column;
  @include flex-center;
  width: 100%;

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background: none;
    scrollbar-width: thin;
    scrollbar-color: $white transparent;
  }

}

.header {
  font-size: 20px;
}

.memo {
  border: $green_light_4 2px solid;
  border-radius: 15px;
  padding: 10px;

  &__header {
    @include flex-row;
    @include flex-center;
    height: 40px;
    border-top: $grey 1px solid;
    border-bottom: $grey 1px solid;
    margin-bottom: 10px;

  }

  .map-info {
    @include flex-row;
    @include flex-center;
    overflow: hidden;
    color: red;
    height: 0;

    &.active {
      border-top: $grey 1px solid;
      height: auto;
      padding: 5px;
    }
  }

  &__text-input {
    margin-top: 5px;
    height: 40px;
    border-top: $grey 1px solid;
    border-bottom: $grey 1px solid;
  }

  &__area-input {
    margin-top: 5px;
    height: 120px;
    border-bottom: $grey 1px solid;
  }

  &__btn {
    border-bottom: $grey 1px solid;
    padding: 10px 0;
  }
}