* {
  font-size: 1em;
}

::placeholder {
  text-align: left;
}

.map {
  width: 450px;
  height: 450px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn button {
  font-size: 18px;
  padding: 5px;
  background: #e6ead0;
  transition: background-color 0.3s, color 0.3s;
}
.btn button:hover {
  background-color: #c0c69b;
}
.btn--delete button {
  font-size: 18px;
  padding: 5px;
  background: #e6ead0;
  color: #a7110b;
  transition: background-color 0.3s, color 0.3s;
}
.btn--delete button:hover {
  background-color: #a7110b;
  color: #f6f6f5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #f6f6f5;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input input {
  width: 100%;
  height: 100%;
  background: none;
}

.area-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.area-input textarea {
  width: 100%;
  height: 100%;
  resize: none;
  background: none;
  scrollbar-width: thin;
  scrollbar-color: #f6f6f5 transparent;
}

.header {
  font-size: 20px;
}

.memo {
  border: #c0c69b 2px solid;
  border-radius: 15px;
  padding: 10px;
}
.memo__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-top: #acacac 1px solid;
  border-bottom: #acacac 1px solid;
  margin-bottom: 10px;
}
.memo .map-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: red;
  height: 0;
}
.memo .map-info.active {
  border-top: #acacac 1px solid;
  height: auto;
  padding: 5px;
}
.memo__text-input {
  margin-top: 5px;
  height: 40px;
  border-top: #acacac 1px solid;
  border-bottom: #acacac 1px solid;
}
.memo__area-input {
  margin-top: 5px;
  height: 120px;
  border-bottom: #acacac 1px solid;
}
.memo__btn {
  border-bottom: #acacac 1px solid;
  padding: 10px 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 2;
  transition: opacity 0.3s;
}
.overlay.active {
  pointer-events: all;
  opacity: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  opacity: 0;
  background: #f6f6f5;
  padding: 10px;
}
.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.modal__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}

/*# sourceMappingURL=view_memo.css.map */
